################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TuTiendaSDE/bin
/.vs/TuTiendaSDE
/packages
/TuTiendaSDE/obj/Debug
