<div class="jumbotron">
    <h1>ASP.NET 2019</h1>
    <p class="lead">ASP.NET una cosa que se puede usar para leer HTML, CSS, y JavaScript.</p>
    <p><a href="@Url.Action("Index", "Producto" )" class="btn btn-primary btn-lg">Registrar productos &raquo;</a></p>
    <p><a href="@Url.Action("Index","Tiendas")" class="btn btn-primary btn-lg">Registrar tiendas &raquo;</a></p>
    <p><a href="@Url.Action("Index","TiendaProductoes")" class="btn btn-primary btn-lg">Youtube &raquo;</a></p>
    
</div>

